@inherits LayoutComponentBase
@inject Radzen.DialogService DialogService
@inject Radzen.NotificationService NotificationService
@inject Radzen.TooltipService TooltipService
@inject Radzen.ContextMenuService ContextMenuService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenContextMenu />